<!DOCTYPE html>
<html>
<head>
    <title>Adresgegevens</title>
</head>
<body>
    <h1>Adresgegevens</h1>
    <p>Straat: {{ adres.straat }}</p>
    <p>Postcode: {{ adres.postcode }}</p>
    <p>Plaats: {{ adres.plaats }}</p>
    <p>Land: {{ adres.land }}</p>
</body>
</html>
